.profile_container {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile_info {
  background-color: white;
  padding: 15px;
  max-width: 400px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  align-items: center;
}

.profile_info input {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 90%;
}

.profile_info img {
  max-width: 30%;
  border-radius: 100%;
  border: 1px solid #ccc;
  padding: 5px;
}

.profile_info button {
  align-items: center;
  margin-top: 10px;
  padding: 10px 20px;
  color: white;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.button_container {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.cancelar {
  background-color: #aba2a2;
}
