.navbar {
  display: flex;
  padding: 1rem 2rem;
  background-color: #ebf6fe;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.navbar a {
  text-decoration: none;
  margin-left: 1rem;
  font-weight: bold;
  color: #0160a4;
}

li {
  display: inline;
  list-style: none;
  margin-right: 1rem;
}

.logo {
  margin-right: auto;
  text-decoration: none;
  font-size: 1.3rem;
  padding-top: 0.3rem;
}

.login a {
  padding: 0.6rem 1.2rem;
  background-color: #0160a4;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-bottom: 0.8rem;
}

.login a:hover {
  background-color: #014f87;
  transform: translateY(-2px);
  text-decoration: none;
}
