.navbar {
  display: flex;
  padding: 1rem 2rem;
  padding-bottom: 2rem;
  background-color: #ebf6fe;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
  text-decoration: none;
  margin-left: 1rem;
  font-weight: bold;
  color: #0160a4;
}

li {
  list-style: none;
  margin-right: 1rem;
}

.logo {
  margin-right: auto;
  text-decoration: none;
  font-size: 1.1rem;
}

.login a {
  padding: 0.6rem 1.3rem;
  background-color: #0160a4;
  color: white;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.login a:hover {
  background-color: #014f87;
}
